*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 120px;
    display: block;
    background-color: white;
}

.innerheader{
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logocontainer{
    height: 100%;
    display: table;
    float: left;
}

.logocontainer img{
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    float: right;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: 600;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 40px;
    margin-top: 40px;
}

.navigation a:last-child{
   padding-right: 0px; 
}

.navigation a li{
    font-size: 25px;
    color: rgb(120, 120, 120);
    height: 100%;
}

.box{
    background: white;
    width: 80%;
    padding: 50px;
    margin: 50px;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid black;
}

.box main{
    justify-items: left;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
}

.box p{
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

.box h1{
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.box h2{
    margin-bottom: 80px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 10000;
}

.box img{
    display: grid;
    justify-items: right;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid black;
}

footer{
    margin-left: 2%;
    margin-bottom: 0.5%;
}

.homeimg img{
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid black
}

.services h2{
    color:rgb(85, 116, 201)
}

.about h2{
    color: rgb(85, 116, 201)
}

.servicesbody{
    background-image: url(/images/background.jpeg);
    max-width: 100%;
    height: auto;
    
}

.aboutbody{
    background-image: url(/images/background.jpeg);
    max-width: 100%;
    height: auto;
}

.contactbody{
    background-image: url(/images/background.jpeg);
    max-width: 100%;
    height: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container{
    margin-right: 25px;
}